.ph{
    width: 190px;
    height: 180px;
    filter: opacity(0%);
    p
 
}

.ph:hover{
    width: 190px;
    height: 180px;
    filter: blur(0);
    filter: opacity(100%);

}

body{
    background-color: black;
}

.content{
    position: relative;
    top: 550px;
    left: 40px;   
}

img{
    transition: all 1s;
    transform: translate(-50; 0);
}
button{
    width: 190px;
    height: 50px;
}